doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <link href="https://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  body
    block content
    script(src=(process.env.NODE_ENV === "production" ? "/javascripts" : "http://127.0.0.1:8080/javascripts") + '/main.js')
