body {
  margin: 0
}



.navbar {
  position: relative;
  background: #7F00FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  transition: all 0.3s ease;
  height: 45vh;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title {
  color: white;
  position: absolute;
  left: 50%;
  font-weight: lighter;
  font-family: 'Raleway', sans-serif;
}